@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  text-align: center;
  background: lightgray;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 1.5em;
  line-height: 1.15;
}

// Footer Classes
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}

// Older Classes

body select {
  width: 40%;
  max-width: 300px;
  height: 40px;
  border-radius: 10px;
  border-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: lightgray;
    background: black;
  }
}
