@tailwind base;
@tailwind utilities;
@tailwind components;

body {
  text-align: center;
  background: lightgray;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
}

h1 {
  font-size: 1.5em;
  line-height: 1.15;
}

// Footer Classes
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  cursor: pointer;
}

// Older Classes

body select {
  width: 40%;
  max-width: 300px;
  height: 40px;
  border-radius: 10px;
  border-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

// Select AutoComplete

.autocomplete-items {
  position: relative;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: lightgray;
    background: black;
  }
}
